<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
    <style>
		body{
			padding: 0 50px;
		}
	</style>
  </head>
  <body>
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="/trangchu">Trang chủ</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavDropdown">
	    <ul class="navbar-nav">
	      <li class="nav-item active">
	        <a class="nav-link" href="/dangky">Đăng ký môn học <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/xemthoikhoabieu">Xem thời khóa biểu</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/xemdiem">Xem điểm</a>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
	        th:text="${session.SINHVIEN.tenSinhVien}" 
	        aria-expanded="false">
	          Quản lý tài khoản
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

	       	          <a class="dropdown-item" href="/suathongtin">Sửa thông tin</a>
	          <a class="dropdown-item" href="/dangxuat">Đăng xuất</a>
	        </div>
	      </li>
	    </ul>
	  </div>
	</nav>

	<h2 style="margin-top: 50px;">Thông báo mới nhất</h2>
	<h3 style="color: brown;">
		Ngày 08/05/2023:    Báo cáo bài tập lớn lập trình web
	</h3>
	<h3 style="color: brown;">
		Ngày 03/04/2023:    THÔNG BÁO VỀ VIỆC HUỶ LỚP ĐỢT HỌC LỚP RIÊNG - KỲ 2 NĂM HỌC 2022-2023 (03/04/2023)
	</h3>
	<p>
		Căn cứ vào kết quả đăng ký học thực tế của Sinh viên sau thời hạn đăng ký thời khóa biểu các học phần đợt học lớp riêng học kỳ 2 năm học 2022-2023, phòng Giáo vụ thông báo hủy một số lớp học phần, cụ thể như sau:
	</p>
	<div class="list-group">	  
		<a href="#" class="list-group-item list-group-item-action list-group-item-primary">
			1.    Hủy 17 lớp học phần do sinh viên không đăng ký thời khóa biểu và số lượng sinh viên đăng ký học không đủ điều kiện mở lớp (Danh sách kèm theo).
		</a>
		<a href="#" class="list-group-item list-group-item-action list-group-item-secondary">
			2.    Đối với các sinh viên đã đăng ký thời khóa biểu các lớp học phần trong danh sách ở mục 1: phòng Giáo vụ sẽ thực hiện việc hủy kết quả đăng ký của Sinh viên trên hệ thống, sinh viên không cần phải thực hiện thao tác hủy học phần trên hệ thống qldt cũng như không cần phải làm Đơn đề nghị hủy.
		</a>
		<a href="#" class="list-group-item list-group-item-action list-group-item-success">
			3. Các học phần huỷ:
			<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Mã học phầm</th>
      <th scope="col">Tên</th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>ELE1318</td>
      <td> Lý thuyết mạch</td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>ELE14102</td>
      <td>Mạng cảm biến</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>ELE1415</td>
      <td>Hệ thống nhúng</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>ELE1416</td>
      <td>Kỹ thuật logic khả trình PLC</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>FIA1321</td>
      <td>Nguyên lý kế toán</td>
    </tr>
  </tbody>
</table>


* Các vấn đề chưa rõ, sinh viên liên hệ số điện thoại 08.8978.3202 (giờ hành chính) trước ngày 05/04/2023 để được giải đáp.

</div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>