
	
	<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
    <style>
		body{
			padding: 0 50px;
		}
	</style>
  </head>
  <body>
   
	   <nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">Trang chủ</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavDropdown">
	    <ul class="navbar-nav">
	      <li class="nav-item active">
	        <a class="nav-link" href="/dangky">Đăng ký môn học <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/xemthoikhoabieu">Xem thời khóa biểu</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/xemdiem">Xem điểm</a>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
	        th:text="${session.SINHVIEN.tenSinhVien}" 
	        aria-expanded="false">
	          Quản lý tài khoản
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

	       	          <a class="dropdown-item" href="/suathongtin">Sửa thông tin</a>
	          <a class="dropdown-item" href="/dangxuat">Đăng xuất</a>
	        </div>
	      </li>
	    </ul>
	  </div>
	</nav>
	
	

		<table class="table table-hover table-success table-striped">
	  <thead>
	    <tr>
	     
	      <th scope="col">STT</th>
	      <th scope="col">Mã môn học</th>
	      <th scope="col">Tên môn học</th>
	      <th scope="col">Kíp học</th>
	      <th scope="col">Thứ</th>
	      <th scope="col">Phòng</th>
	      <th scope="col">Tuần</th>
	 		<th scope="col">Danh sách sinh viên</th>
	    </tr>
	  </thead>
	  <tbody th:each="item, count : ${dangkys}">
	    <th scope="col" th:text="${count.index + 1}"></th>
	      <th scope="col" th:text="${item.lopHocDangKy.monHoc.maMonHoc}">STT</th>
	      <th scope="col" th:text="${item.lopHocDangKy.monHoc.tenMonHoc}">Mã môn học</th>
	      <th scope="col" th:text="${item.lopHocDangKy.kipHoc}">Tên môn học</th>
	      <th scope="col" th:text="${item.lopHocDangKy.thu}">Thứ</th>
	      <th scope="col" th:text="${item.lopHocDangKy.tenPhong}">Phòng</th>
	      <th scope="col" th:text="${item.lopHocDangKy.tuanHoc}">Tuần</th>
		  <th scope="col" > <a th:href="@{'/danhsachsinhvien/' + ${item.lopHocDangKy.id}}">
			  Xem danh sách lớp học
		  </a></th>

	  </tbody>
	</table>
	
	
</div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
	
